.my-card-list{
    margin: 20px;
    width: 400px;
    height: 100%;
}

.my-card-list ul, .my-card-list ul li {
    width: inherit;
}

.my-card-list ul {
    height: 100%;
    width: 100%;
}
.my-card-list ul li {
    width: inherit;
    margin: 10px 0px;
    direction: ltr;
}