.Globe {
	height: 100%;
	display: flex;
	/* position: relative; */
}

.Globe>canvas {
	height: 100%;
	width: 70%;
}

.Globe>div {
	height: 100%;
	width: 30%;
}

.Globe>canvas.close {
	height: 100%;
	width: 100%;
}

.Globe>div.close {
	height: 100%;
	width: 0%;
}


.Globe .kc_fab_main_btn {
	background-color: #ffffff;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #ffffff;
	border: none;
	outline: none;
	color: black;
	font-size: 36px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: .3s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.Globe .kc_fab_main_btn:focus {
	transform: scale(1.1);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/* .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
} */