.LayerManager{
	/* z-index: 9999999; */
	height: 100%;
    width: 400px;
    overflow: hidden;
	overflow-y: scroll;
	direction:rtl;
}
.LayerManager::-webkit-scrollbar {
    -webkit-appearance: none;
}

.LayerManager::-webkit-scrollbar-thumb {
    width: 100px;
    background-color: #006EBC;
    padding: 1px;
}
.LayerManager::-webkit-scrollbar:vertical {
    width: 11px;
}
