.LayerManager {
    /* z-index: 9999999; */
    height: 95%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    direction: rtl;
    margin: 15px;
    color: white;
    background-color: #006EBC;
}

.LayerManager::-webkit-scrollbar {
    -webkit-appearance: none;
}

.LayerManager div {
    direction: ltr;
}

.open.LayerManager{
display: inline-block;
}

.close.LayerManager{
    display: none;
}