nav {
	height: 100%;
	width: 20%;
}

li {
	list-style-type: none;
}
ul {
	font-size: 30px;
	bottom: 0;
	position: fixed;
	width: 50px;
}

/* 
ul {
	display: flex;
	justify-content: space-between;
}

nav>ul {
	padding: 4px 16px;
}

li {
	padding: 6px 8px;
	list-style-type: none;
}

a {
	color: #067df7;
	text-decoration: none;
	font-size: 13px;
} */