.my-nav {
	height: 100%;
	max-width: 50px;
}

ul.social-icons {
	font-size: 30px;
	top: 500px;
	position: relative;
	padding: 15px;
	right: 10px;
	/* position: fixed; */
}

ul.social-icons li {
	list-style: none;
}

.share-icon {
	padding: 8px 8px 8px 8px;
	color: white;

}
.white-earth {
	top: 21px;
	left: 18px;
	width: 45px;
	height: 53px;
	text-align: left;
	font: Regular 53px/64px FontAwesome;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}