.Home {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	text-align: center;
}

.Home .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.earth-image {
	position: absolute;
	width: 840px;
	height: 840px;
	right: -50px;
	bottom: -300px;
}

.Home .content {
	position: absolute;
	left: 100px;
	top: 200px;
	width: 400px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-size: 80px;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 0.5px;
}
.Home .content h1 {
	font-size: 80px;
	white-space: nowrap;
	font-weight: lighter;
}
.Home .content p {
	width: inherit;
	font-size: 10px;
	word-wrap: break-word;
}

.Home .launch-btn {
	width: 220px;
	height: 62px;
	font-size: 25px;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #006BB7;
	border-radius: 20px;
	display: block;
	transition: 0.3s;
}